.article-card {
  margin: 0.5rem 0;
}
.article-card .el-card__body {
  padding: 0.5rem !important;
}
.article-card .el-card__body .article-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-card .el-card__body .article-pic img {
  width: 100%;
  max-width: 140px;
}
.article-card .el-card__body .title {
  font-weight: bold;
  font-size: 1.2rem;
}
.article-card .el-card__body .info {
  color: #000 !important;
  font-weight: normal;
  font-size: 0.5rem;
}
.el-button {
  margin-bottom: 5px;
}
.pagination {
  margin-top: 2rem;
  text-align: center;
}
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
