.article-card
  margin .5rem 0
  .el-card__body
    padding .5rem !important
    .article-pic
      display: flex
      justify-content: center
      align-items: center
      img
        width 100%
        max-width 140px
    .title
      font-weight: bold
      font-size: 1.2rem
    .info
      color: #000!important
      font-weight: normal;
      font-size: .5rem;

.el-button
  margin-bottom 5px

.pagination
  margin-top 2rem
  text-align center

p
  margin-top 0
  margin-bottom: .5rem