.user-card {
  margin: 0.2rem 0.5rem;
  max-width: 300px;
  display: inline-block;
}
.user-card .el-card__body {
  padding: 0.5rem !important;
}
.user-card .el-card__body .user-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-card .el-card__body .user-pic img {
  width: 100%;
}
.user-card .el-card__body .name {
  font-weight: bolder;
  font-size: 1.1rem;
}
.user-card .el-card__body .time {
  font-size: 0.8rem;
}
.user-card .el-card__body p {
  margin-bottom: 0;
}
.el-button {
  margin-bottom: 5px;
}
.pagination {
  margin-top: 2rem;
  text-align: center;
}
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
