.user-card
  margin .2rem .5rem
  max-width 300px
  display inline-block
  .el-card__body
    padding .5rem!important
    .user-pic
      display: flex
      justify-content: center
      align-items: center
      img
        width 80%
        padding 0 0 .5rem
    .name
      font-weight: bolder
      font-size: 1.1rem
    .time
      font-size: .8rem
    p
      margin-bottom 0

.el-button
  margin-bottom 5px


.pagination
  margin-top 2rem
  text-align center

p
  margin-top 0
  margin-bottom: .5rem