body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.2rem;
}
h2 {
  margin-bottom: 0.5rem;
}
.top-navbar {
  text-align: center;
}
.top-navbar li {
  display: inline-block;
  float: none !important;
}
.container {
  max-width: 960px;
  margin: auto;
}
.test-img {
  width: 60px;
  height: 60px;
  background-color: #eee;
  display: inline-block;
}
.el-menu .el-menu-item:hover {
  border-bottom: 5px solid #20a0ff;
}
.el-menu .is-active {
  color: #bfcbd9;
}
.el-menu .selected > .el-menu-item {
  color: #20a0ff !important;
}
